/*---------------
      fonts 
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------------
 common styles or utilities 
 --------------------------*/

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*---------------------
 top banner styles 
 --------------------*/
.top-banner {
    height: 500px;
    padding-bottom: 150px;
}

.top-banner {
    background-color: #2D25A0;
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 27px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 67px;
}

h1 {
    width: 485px;
    height: 230px;
    top: 207px;
    left: 156px;
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-bottom: 70px;
}

.anchor-button {
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 168px;
    height: 44px;
    top: 464px;
    left: 156px;
}

.half-width img {
    width: 556px;
    height: 438px;
    top: 153px;
    left: 1299px;
}


/*--------------------------
 top player list styles 
 -------------------------*/
#container {
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
    margin-bottom: 150px;
}

.player {
    display: flex;
    flex-direction: column;
}

.player {
    width: 302px;
    height: 474px;
    background: #f3f3f3;
    padding: 15px;
    float: left;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: -67px;
}

.player .player-image img {
    width: 300px;
    height: 256px;
}

.text-info {
    margin-left: 16px;
}

p {
    font-size: 14px;
}

.footer-icon {
    padding-bottom: 20px;
}

i.fab.fa-instagram {
    background-color: #9d959538;
    font-size: 20px;
    padding: 7px;
    border-radius: 100%;
    margin: 2px;
    color: #a9a6a6;
}

i.fab.fa-twitter {
    background-color: #9d959538;
    font-size: 20px;
    padding: 7px;
    border-radius: 100%;
    margin: 2px;
    color: #a9a6a6;
}

i.fab.fa-youtube {
    background-color: #9d959538;
    font-size: 20px;
    padding: 7px;
    border-radius: 100%;
    margin: 2px;
    color: #a9a6a6;
}

i.fab.fa-linkedin-in {
    background-color: #9d959538;
    font-size: 20px;
    padding: 7px;
    border-radius: 100%;
    margin: 2px;
    color: #a9a6a6;
}

/*-------------------
       footers 
 ------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 63px;
}

img {
    width: 371px;
}

.copyright {
    font-size: 17px;
}

/*----------------------
     Mobile Devices 
-----------------------*/

@media only screen and (max-width: 688px) {
    .top-banner {
        width: 360px;
        height: 695px;
    }

    .h1 {
        Width: 278px;
        Height: 138px;
        Top: 112px;
        Left: 16px;
    }

    .anchor-button {
        Width: 168px;
        Height: 44px;
        Top: 280px;
        Left: 19px;
        margin: 10px;
    }

    .half-width img {
        width: 329px;
        height: 259.17px;
        left: 344px;
        top: 374px;
        margin-left: -209px;
        margin-top: 388px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }


}
/*-----------------------
     tablet devices 
 -----------------------*/
@media only screen and (min-width: 688px) and (max-width: 992px) {

    .players {
        grid-template-columns: repeat(2, 1fr);
    }